{% extends 'admin.html.twig' %}

{% block title %}Nouveau Projet Associatif{% endblock %}

{% block body %}
    <h1>Nouveau Projet Associatif</h1>

    {{ include('actions_assos/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('actions_assos_index') }}">Retour</a>

{% endblock %}
