<form method="post" action="{{ path('del_doc_actions_assos', {'id': doc_actions_asso.id}) }}" 
    onsubmit="return confirm('Are you sure you want to delete this item?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doc_actions_asso.id) }}">
    <button class="btn btn-danger me-1">Supprimer</button>
    
</form>
