{% extends 'admin.html.twig' %}

{% block title %}New DocActionsAssos{% endblock %}

{% block body %}
    <h1>Create new DocActionsAssos</h1>

    {{ include('doc_actions_assos/_form.html.twig') }}

    <a href="{{ path('app_doc_actions_assos_index') }}">back to list</a>
{% endblock %}
