{% extends 'admin.html.twig' %}

{% block title %}New LinkActionsAssos{% endblock %}

{% block body %}
    <h1>Nouveau Lien vers un site</h1>

    {{ include('link_actions_assos/_form.html.twig') }}
 
    {% if app.request.attributes.get('_route') == 'add_doc_actions_assos' %}
        <form>
            <input class="btn btn-secondary me-2" type="button" value="Retour" onclick="history.back()">
        </form>
    {% else %}
        <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('app_link_actions_assos_index') }}">Retour</a>
    {% endif %}        

</div>
<hr class="mb-3">



{% endblock %}
