.bg-info2 {
    background-color: #65dbf3;
}

.text-success2 {
    color: #198754;
}

footer {
    // color: white;
    // text-align: center;
    // .clMrBot0 {
    //     margin-bottom: 0px;
    // }
    // .clMrLR {
    //     margin-left: 15px;
    //     margin-right: 15px;
    // }
    // .clEnVert {
    //     color: rgb(105, 189, 164);
    // }
    // a {
    //     text-decoration: none;
    //     color: white;
    // }
    .clIconeEnLigne {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .clRond {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid white;
            padding: 5px;
            margin: 5px;
            height: 40px;
            width: 40px;
        }
    }
    .clFooter {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: rgb(44, 62, 80);
        width: 100%;
        color: white;
    }
    .clCopyright {
        background-color: rgb(26, 37, 47);
        font-size: 70%;
        p {
            margin-top: 10px;
        }
    }
}