* {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.bg-info2 {
  background-color: #a4deea;
}

.bg-success2 {
  background-color: #82f7c0;
}

.bg-infoSuccess2 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#77b447), color-stop(50%), to(#92d3ff));
  background-image: linear-gradient(to top, #77b447, 50%, #92d3ff);
}

.bg-logoBlue {
  background-color: #92d3ff;
}

.bg-logoGreen0 {
  background-color: #bfcb29;
}

.bg-logoGreen1 {
  background-color: #77b447;
}

.bg-logoGreen2 {
  background-color: #26671d;
}

.text-logoBlue {
  color: #92d3ff;
}

.text-logoGreen0 {
  color: #bfcb29;
}

.text-logoGreen1 {
  color: #77b447;
}

.text-logoGreen2 {
  color: #26671d;
}

.ff-Parisienne {
  font-family: 'Parisienne', cursive;
  font-size: 350%;
  font-weight: bold;
  color: #26671d;
}

.ff-Gelasio {
  font-family: 'Gelasio', serif;
  color: black;
}

.h-grad {
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
  min-height: 35px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.h-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.bg-blueGreen {
  background-image: -webkit-gradient(linear, left top, right top, from(#1D976C), color-stop(51%, #93F9B9), to(#1D976C));
  background-image: linear-gradient(to right, #1D976C 0%, #93F9B9 51%, #1D976C 100%);
}

.bg-green0 {
  background-image: -webkit-gradient(linear, left top, right top, from(#ADD100), color-stop(51%, #7B920A), to(#ADD100));
  background-image: linear-gradient(to right, #ADD100 0%, #7B920A 51%, #ADD100 100%);
}

.btn-grad {
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  -webkit-box-shadow: 0 0 20px #eee;
          box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
  min-height: 35px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 95px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-danger2,
.bg-danger2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#c21500), color-stop(51%, #ffc500), to(#c21500));
  background-image: linear-gradient(to right, #c21500 0%, #ffc500 51%, #c21500 100%);
}

.btn-warning2,
.bg-warning2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#F09819), color-stop(51%, #EDDE5D), to(#F09819));
  background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
}

.btn-success2,
.bg-success2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#215f00), color-stop(51%, #e4e4d9), to(#215f00));
  background-image: linear-gradient(to right, #215f00 0%, #e4e4d9 51%, #215f00 100%);
}

.btn-info2,
.bg-info2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#00d2ff), color-stop(51%, #3a7bd5), to(#00d2ff));
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
}

.btn-primary2,
.bg-primary2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#0575E6), color-stop(51%, #021B79), to(#0575E6));
  background-image: linear-gradient(to right, #0575E6 0%, #021B79 51%, #0575E6 100%);
}

.btn-secondary2,
.bg-secondary2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#304352), color-stop(51%, #d7d2cc), to(#304352));
  background-image: linear-gradient(to right, #304352 0%, #d7d2cc 51%, #304352 100%);
}

.textAlt {
  font-size: small;
  font-style: italic;
  color: grey;
}

.text-success2 {
  color: #198754;
}

.clBureau img {
  width: 200px !important;
  height: 200px !important;
}

.imgClass {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.imgClass:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.imgClass2 {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
}

.imgClass2:hover {
  -webkit-transform: rotate(360deg) scale(1.5);
          transform: rotate(360deg) scale(1.5);
}

.clLogo {
  z-index: 1;
  position: relative;
  top: 30px;
}

.clLigne {
  height: 1px !important;
  background-color: #25cef0;
}

.flecheHaut {
  height: 60px;
  width: 60px;
  background: #77b447;
  color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.icone {
  width: 50px;
  border-radius: 50%;
}

.blockBody {
  min-height: 500px;
  padding-top: 120px;
}

.blockBody .sousHeader {
  padding-bottom: 50px;
  padding-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockBody .sousHeader .fenetreTitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(198, 207, 212, 0.5);
}

.clNews {
  background-color: #bfd3e6;
  padding-bottom: 50px;
  padding-top: 50px;
}

.clActionsAssos {
  background-color: #9bf7af;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clInterships {
  background-color: #bbe9c5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clPaulGreen {
  background-color: #9bf7af;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clActionsMasters {
  background-color: #bbe9c5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clOutputs {
  background-color: #9bf7af;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clMaster {
  background-color: #bbe9c5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clPartners {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clLogoPartners {
  height: 50px;
  width: 150px;
}

.clImgPartners {
  height: 250px;
}

.clAdresse {
  width: 200px;
}

.contacts {
  background-color: #597692;
  padding-top: 50px;
  padding-bottom: 50px !important;
}

#cke_1_contents {
  min-height: 400px;
}

.clCard {
  padding: 3px;
  position: relative;
}

.clCard img {
  vertical-align: middle;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .clIconeEnLigne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .clFooter {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2c3e50;
  width: 100%;
  color: white;
}

footer .clCopyright {
  background-color: #1a252f;
  font-size: 70%;
}

footer .clCopyright p {
  margin-top: 10px;
}

.clRond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 2px solid #77b447;
  color: #bfcb29;
  padding: 5px;
  margin: 5px;
  height: 40px;
  width: 40px;
}

.ombre {
  border: 1px solid lightgray;
  margin: 0 0 0 .5rem;
  min-height: 200px;
  padding: .5rem;
  background-color: white;
  position: relative;
}

.ombre::before,
.ombre::after {
  content: "";
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 15px;
  top: 80%;
  max-width: 300px;
  left: 10px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  z-index: -1;
}

.ombre::after {
  left: unset;
  right: 10px;
  /* transform:rotate(3deg); */
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-animation: vent 0.5s linear infinite alternate;
          animation: vent 0.5s linear infinite alternate;
}

@-webkit-keyframes vent {
  from {
    -webkit-transform: rotate(0deg) translateY(-5px);
            transform: rotate(0deg) translateY(-5px);
  }
  to {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

@keyframes vent {
  from {
    -webkit-transform: rotate(0deg) translateY(-5px);
            transform: rotate(0deg) translateY(-5px);
  }
  to {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}

.iconfont {
  color: #92d3ff;
  font-size: 1.33em;
  line-height: 1em;
  text-shadow: 0 1px 0 #fff;
  top: 2px;
  margin-right: 2px;
  font-style: italic;
}
/*# sourceMappingURL=styles.css.map */