* {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    // background-color: #fff;
    margin: 0;
    padding: 0;
}

.bg-info2 {
    background-color: #a4deea;
}

.bg-success2 {
    background-color: #82f7c0;
}

// <button data-v-766eb970="" class="btn-grad" 
// style="background-image: linear-gradient(to right, rgb(194, 21, 0) 0%, rgb(255, 197, 0) 51%, rgb(194, 21, 0) 100%);
// ">HOVER ME</button>
// .btn-grad {background-image: linear-gradient(to right, #c21500 0%, #ffc500 51%, #c21500 100%)}
.btn-danger2 {
    margin: 5px;
    padding: 5px 10px;
    // margin: 10px;
    // padding: 15px 45px;
    text-align: center;
    // text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-danger2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

// <button data-v-766eb970="" class="btn-grad" 
// style="background-image: linear-gradient(to right, rgb(247, 151, 30) 0%, rgb(255, 210, 0) 51%, rgb(247, 151, 30) 100%););">HOVER ME</button>
// .btn-grad {background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
.btn-warning2 {
    margin: 5px;
    padding: 5px 10px;
    // margin: 10px;
    // padding: 15px 45px;
    text-align: center;
    // text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-warning2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

// <button data-v-766eb970="" class="btn-grad" 
// style="background-image: linear-gradient(to right, rgb(33, 95, 0) 0%, rgb(228, 228, 217) 51%, rgb(33, 95, 0) 100%);">HOVER ME</button>
// .btn-grad {background-image: linear-gradient(to right, #215f00 0%, #e4e4d9  51%, #215f00  100%)}
.btn-success2 {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-success2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

// <button data-v-766eb970="" class="btn-grad" 
// style="background-image: linear-gradient(to right, rgb(0, 210, 255) 0%, rgb(58, 123, 213) 51%, rgb(0, 210, 255) 100%);">HOVER ME</button>
// .btn-info2 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%)}
.btn-info2 {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-info2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

// <button data-v-766eb970="" class="btn-grad" 
// style="background-image: linear-gradient(to right, rgb(5, 117, 230) 0%, rgb(2, 27, 121) 51%, rgb(5, 117, 230) 100%);">HOVER ME</button>
// .btn-grad {background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%)}
.btn-primary2 {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-primary2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

// <button data-v-766eb970="" class="btn-grad" 
// style="background-image: linear-gradient(to right, rgb(48, 67, 82) 0%, rgb(215, 210, 204) 51%, rgb(48, 67, 82) 100%);">HOVER ME</button>
// .btn-secondary2 {background-image: linear-gradient(to right, #304352 0%, #d7d2cc  51%, #304352  100%)}
.btn-secondary2 {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-secondary2:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.text-success2 {
    color: #198754;
}

.blockBody {
    min-height: 500px;
    padding-top: 50px;
}

.clLigne {
    height: 1px !important;
    background-color: #25cef0;
}

.sousHeader {
    // background-image: url(../images/header.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-origin: content-box;
    // background-attachment: scroll;
    // opacity: 0.8;
    // 
    padding-bottom: 50px;
    // 
    padding-top: 0px;
    // color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .fenetreTitre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(198, 207, 212, 0.5);
        // opacity: 0.5;
    }
    // .clZIndex {
    //     // z-index: 0;
    // }
}

.clNews {
    background-color: rgb(191, 211, 230);
    padding-bottom: 50px;
    padding-top: 50px;
}

.clActionsAssos {
    background-color: rgb(155, 247, 175);
    padding-top: 50px;
    padding-bottom: 50px;
}

.clInterships {
    background-color: rgb(187, 233, 197);
    padding-top: 50px;
    padding-bottom: 50px;
}

.clPaulGreen {
    background-color: rgb(155, 247, 175);
    padding-top: 50px;
    padding-bottom: 50px;
}

.clActionsMasters {
    background-color: rgb(187, 233, 197);
    padding-top: 50px;
    padding-bottom: 50px;
}

.clOutputs {
    background-color: rgb(155, 247, 175);
    padding-top: 50px;
    padding-bottom: 50px;
}

.clMaster {
    background-color: rgb(187, 233, 197);
    padding-top: 50px;
    padding-bottom: 50px;
}

.clPartners {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.clLogoPartners {
    height: 50px;
    width: 150px;
}

.clImgPartners {
    height: 250px;
}

.clAdresse {
    width: 200px;
}

#cke_1_contents {
    min-height: 400px;
}

.clCard {
    border: 1px solid lightgray;
    padding: 3px;
    box-shadow: 2px 2px 2px lightgray;
    position: relative;
    // &:hover .overlay {
    //     transform: scale(1)
    // }
    img {
        vertical-align: middle;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    // .overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: rgba(0, 0, 0, .5);
    //     color: white;
    //     font-size: 2.5rem;
    //     width: 100%;
    //     height: 100%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     // transform: scale(0);
    //     transform: scale(0) rotate(90deg);
    //     transition: .3s;
    //     // permet le trsnform en haut à doirte
    //     // transform-origin: top left;
    //     transform-origin: 25% 80%;
    // }
}

// ==============
footer {
    // color: white;
    // text-align: center;
    // .clMrBot0 {
    //     margin-bottom: 0px;
    // }
    // .clMrLR {
    //     margin-left: 15px;
    //     margin-right: 15px;
    // }
    // .clEnVert {
    //     color: rgb(105, 189, 164);
    // }
    // a {
    //     text-decoration: none;
    //     color: white;
    // }
    .clIconeEnLigne {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .clRond {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid white;
            padding: 5px;
            margin: 5px;
            height: 40px;
            width: 40px;
        }
    }
    .clFooter {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: rgb(44, 62, 80);
        width: 100%;
        color: white;
    }
    .clCopyright {
        background-color: rgb(26, 37, 47);
        font-size: 70%;
        p {
            margin-top: 10px;
        }
    }
}