{% extends 'base.html.twig' %}

{% block title %}Nouveau réseau social{% endblock %}

{% block body %}
    <h1>Nouveau réseau</h1>

    {{ include('social_networks/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('social_networks_index') }}">Retour</a>

{% endblock %}
