{% extends 'admin.html.twig' %}

{% block title %}Nouveau réseau social{% endblock %}

{% block body %}

    <h1>Nouveau réseau social</h1>

        {{ include('social_networks/_form.html.twig') }}

        <a class="btn btn-grad btn-secondary2 me-2" href="{{ path('social_networks_index') }}">Retour</a>

    </div>
    <hr class="mb-3">

{% endblock %}
