<form method="post" action="{{ path('app_internships_delete', {'id': internship.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ internship.id) }}">
    <button class="btn btn-grad btn-danger2">Suppprimer</button>
</form>
