{% extends 'base.html.twig' %}

{% block title %}Présentation du Master
{% endblock %}

{% block body %}

	{# <section class="sousHeader">
				    <div class="border border-5 border-primary rounded-3 p-5 fenetreTitre">
					    <h1 class="text-white">Une telle occasion! ✅</h1>
					    <h2>Politique de confidentialité</h2>
				    </div>
				</div>   
				</section> #}

	<section class="pt-2">
		<div class="container">
			<div class="pt-5">

				{{ params[0].masterparam | raw }}

			</div>
		</div>
	</section>
	<hr class="mb-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-grad btn-secondary2" href="{{ path('home') }}">Retour</a>
			</div>
		</div>
	</div>
	<hr class="mb-3">
{% endblock %}
