{# {% extends 'admin.html.twig' %}

{% block title %}New PhotosActionsAssos{% endblock %}

{% block body %}
    <h1>Create new PhotosActionsAssos</h1>

    {{ include('photos_actions_masters/_form.html.twig') }}

    <a class="btn btn-grad btn-secondary2" href="{{ path('app_photos_actions_masters_index') }}">Retour</a>

{% endblock %} #}
