{% extends 'admin.html.twig' %}

{% block title %}Nouvelles Infos{% endblock %}

{% block body %}
    <h1>Nouvelles Infos</h1>

    {{ include('news/_form.html.twig') }}

        <a class="btn btn-secondary me-2" href="{{ path('news_index') }}">Retour</a>
    </div>
    <hr class="mb-3">
    
{% endblock %}
