<form method="post" action="{{ path('actions_assos_delete', {'id': actions_asso.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete this item?');">

        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actions_asso.id) }}">
        {# <button class="btn btn-danger me-2">Supprimer</button> #}

        <button class="btn btn-danger2 me-2" 
            style="background-image: linear-gradient(to right, rgb(194, 21, 0) 0%, rgb(255, 197, 0) 51%, rgb(194, 21, 0) 100%);">Supprimer</button>
 
    </div>
    <hr class="">
</form>
