{% extends 'admin.html.twig' %}

{% block title %}Nouveau Regroupement{% endblock %}

{% block body %}
    <h1>Nouveau Regroupements</h1>

    {{ include('grouping_partners/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('grouping_partners_index') }}">Retour</a>

{% endblock %}
