{% extends 'admin.html.twig' %}

{% block title %}Nouvelle Photo{% endblock %}

{% block body %}
    <h1>Nouvelle Photo</h1>

    {{ include('news_photos/_form.html.twig') }}

    <a class="btn btn-grad btn-secondary2" href="{{ path('news_photos_index') }}">Retour</a>

{% endblock %}
