{% extends 'admin.html.twig' %}

{% block title %}Modification d'un Theme{% endblock %}

{% block body %}
    <h1>Modification d'un Theme</h1>  

    {{ include('themes/_form.html.twig', {'button_label': 'Valider'}) }}

    <a class="btn btn-secondary" href="{{ path('themes_index') }}">Retour</a>

    {{ include('themes/_delete_form.html.twig') }}

{% endblock %}
