{% extends 'admin.html.twig' %}

{% block title %}Modification de la présentation de l'association{% endblock %}

{% block body %}

        <h1 class="text-center bg-logoGreen1">Modification de la présentation de l'association</h1>

        {{ include('params/assosform.html.twig', {'button_label': 'Valider'}) }}

        <a class="btn btn-grad btn-secondary2 me-2" 
            href="{{ path('params_assosshow', {'id': render(controller('App\\Controller\\MainController::recupParamId')) }) }}" 
            class="nav-link px-sm-0 px-2">Retour</a>    

    </div>
    <hr class="">

{% endblock %}
