{% extends 'admin.html.twig' %}

{% block title %}Edit Params{% endblock %}

{% block body %}
    <h1>Edit Params</h1>

    {{ include('params/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a  class="btn btn-secondary" href="{{ path('params_index') }}">Retour</a>

    {# {{ include('params/_delete_form.html.twig') }} #}

{% endblock %}
