{% extends 'admin.html.twig' %}

{% block title %}Modification de la présentation du Master{% endblock %}

{% block body %}

        <h1>Modification de la présentation du Master</h1>

        {{ include('params/mastersForm.html.twig', {'button_label': 'Valider'}) }}

        <a class="btn btn-grad btn-secondary2 me-2" 
            href="{{ path('params_mastersshow', {'id': render(controller('App\\Controller\\MainController::recupParamId')) }) }}" 
            class="nav-link px-sm-0 px-2">Retour</a>    

    </div>
    <hr class="">

{% endblock %}
