{% extends 'base.html.twig' %}

{% block title %}New Params{% endblock %}

{% block body %}
    <h1>Create new Params</h1>

    {{ include('params/_form.html.twig') }}

    <a  class="btn btn-secondary" href="{{ path('params_index') }}">Retour</a>
    
{% endblock %}
