{# 
{% extends 'admin.html.twig' %}

{% block title %}Nouveau Paramètres{% endblock %}

 {% block body %}
    <h1>Nouveau Paramètres</h1>

    {{ include('params/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('params_index') }}">Retour</a>
    
{% endblock %} 

#}