{# {% extends 'admin.html.twig' %}

 {% block title %}Nouvel Adhérent{% endblock %}

{% block body %}
    <h1>Nouvel Adhérent</h1>

    {{ include('users/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('users_index') }}">Retour</a> 
    
{% endblock %} #}
