<form method="post" action="{{ path('partners_delete', {'id': partner.id}) }}" onsubmit="return confirm('Confirmer la suppression de ce Partenaires?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
        <button class="btn btn-grad btn-danger2 me-2">Supprimer</button>

    </div>
    <hr class="mb-3">

</form>
