{% extends 'admin.html.twig' %}

{% block title %}Nouveau Partenaires{% endblock %}

{% block body %}

    <h1>Nouveau Partenaires</h1>

    {{ include('partners/_form.html.twig') }}

        <a class="btn btn-secondary me-2" href="{{ path('partners_index') }}">Retour</a>

    </div>
    <hr class="mb-3">

{% endblock %}
