
<form method="post" action="{{ path('grouping_partners_delete', {'id': grouping_partner.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grouping_partner.id) }}">
        <button class="btn btn-grad btn-danger2 me-2">Supprimer</button>

    </div>
    <hr class="mb-3">


</form>
