{% extends 'admin.html.twig' %}

{% block title %}Nouveau de Message de contact{% endblock %}

{% block body %}
    <h1>Nouveau Message de contact</h1>

    {{ include('contacts/_form.html.twig') }}

    <a class="btn btn-grad btn-secondary2" href="{{ path('contacts_index') }}">Retour</a>

{% endblock %}
