<form method="post" action="{{ path('app_photos_actions_assos_delete', {'id': photos_actions_asso.id}) }}" 
        onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photos_actions_asso.id) }}">
    <button class="btn btn-grad btn-danger2">Supprimer</button>
</form>
